<div class="row justify-content-md-center">
  <div class="col-md-4">

      <form [formGroup]="formulario" > 
        <div class="form-group">
          <jhi-input-group  [miParentForm]="formulario" [labelFor]="'Nombre'" [labelValue]="'Nombre'" [idComponent]="'Nombre'" [plcHolder]="'Ingrese nombre'"  [miFormControlName]="'nombre'" [msgAlert]="'test'" >  </jhi-input-group>
        </div>
        <div class="form-group">
          <jhi-input-group  [miParentForm]="formulario" [labelFor]="'Apellido'" [labelValue]="'Apellido'" [idComponent]="'Apellido'" [plcHolder]="'Ingrese apellido'"  [miFormControlName]="'apellido'" [msgAlert]="'test'"></jhi-input-group>
        </div>
        <div class="form-group">
          <jhi-input-group  [miParentForm]="formulario" [labelFor]="'Documento'" [labelValue]="'Documento'" [idComponent]="'Documento'" [plcHolder]="'Ingrese  numero de documento'"  [miFormControlName]="'documento'" [msgAlert]="'test'"></jhi-input-group>    
        </div>
        <div class="form-group">
          <jhi-input-group  [miParentForm]="formulario" [labelFor]="'telefono'" [labelValue]="'Telefono'" [idComponent]="'Telefono'" [plcHolder]="'Ingrese  numero de telefono'"  [miFormControlName]="'telefono'" [msgAlert]="'test'"></jhi-input-group>    
        </div>
    
        <div class="form-group">
          <div ngbDropdown class="d-inline-block" >
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Sucursal</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" *ngFor="let suc of sucursales" (click)="sucursalSeleccionada(suc)" > {{suc.sucursal}}</button>
              </div>
          </div>
          <input type="hidden" id="sucursal" name="sucursal" formControlName="sucursal">
        </div>

        <div class="form-group">
          <jhi-datepicker  *ngIf="habilitarCalendrio" [miParentForm]="formulario" [miFormLabel]="'Fecha de turno:'" [miFormControlName]="'fecha'" [disabledDaysItem]="diasNohabiles" ></jhi-datepicker>     
        </div>
      
        <div class="form-group" *ngIf="mostrarHorarios">
            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" >
              <label ngbButtonLabel class="btn-primary" *ngFor="let horario of horarios">
                <input ngbButton type="radio" (click)="generarReserva(horario)" > {{horario.descripcion}}
              </label>
            </div>
        </div>
    </form>
</div>
</div>

