<div class="row">
    <div class="col-md-12">
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
            </div>
<!--
            <div class="alert alert-warning" *ngSwitchCase="false">
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="true">
                <a class="alert-link" routerLink="account/register">Registrar cuenta</a>
            </div>
            
            <div class="alert alert-warning" *ngSwitchCase="false">
                <a class="alert-link" routerLink="reserva">Reserva de turnos</a>
            </div>
-->
            <div class="jumbotron">
                <h1>Turnos</h1>
                <p>Saluden gestion de reserva de turnos</p>
                <p><a class="btn btn-primary btn-lg" routerLink="reserva/registrar/formulario" role="button">Solicitar</a></p>
            </div>
            
        </div>

    </div>
</div>

<div class="row animate__fadeInDown">
    <div class="card " style="width: 18rem; ">
        <div class="card-body">
          <h5 class="card-title">Paciente primera vez</h5>
          <p class="card-text">Si nunca se atencion en ninga de nuestras sucutsales y desea solicitar un turno ingrese aca</p>
          <a routerLink="reserva/registrar/formulario" class="btn btn-primary">Deseo un turno</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Paciente con historia clinica</h5>
          <p class="card-text">Si ya es paciente o alguna vez se atendio en nuestros establecimientos ingrese aca</p>
          <a routerLink="reserva/registrar/formulario" class="btn btn-primary">Deseo un turno</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Contacto directo</h5>
         
        </div>
      </div>

   </div> 